body {
    font-family: arial;
}

.flipswitch {
    position: relative;
    background: white;
    width: 100px;
    height: 32px;
    -webkit-appearance: initial;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    font-size: 12px;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #808080;
}

.flipswitch:after {
    position: absolute;
    top: 0.5%;
    display: block;
    line-height: 32px;
    width: 48%;
    height: 99%;
    background: #fff;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease-in 0s;
    color: black;
    border: #888 1px solid;
    border-radius: 5px;
}

.flipswitch:after {
    left: -2%;
    content: "NO";
    color: #FF0000;
}

.flipswitch:checked:after {
    left: 55%;
    content: "OK";
    color: #00008B;
}