body {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	margin: 0px 0px 0px 0px;
}

input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

input.pink {
	background-color: #FFCCCC;
	font-size: 10px;
	width: 175px;
}

select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

td#full_dotted 
{
	border-left: 1px dotted #D5D5D5; 
	border-bottom: 1px dotted #D5D5D5; 
	border-right: 1px dotted #D5D5D5; 
	border-top: 1px dotted #D5D5D5; 
}

a {
	color: #6633FF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
}

.maincolor {
	background-color: #CCFFCC;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #0000FF;
}

.subtitle {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
  color: #660000; font-style: oblique;
}

.header {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	background-color: #990000;
  color: #FFFF66;
}

.nav {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
	background-color: #CCCC66;
}

.navLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #DEDECA;
}
a:hover {
	color: #CC0099;
}

.sidebar {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	padding: 3px;
	background-color: #FFFF99;
}

.sidebarHeader {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #FFFF99;
	background-color: #999933;
 font-weight: bold;
}

.sidebarFooter {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	background-color: #FFFF99;
 color: #990000;
}

.footer {
  font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	background-color: #FFFF99;
}

.legal {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12pt;
	color: #333333;
}

.box1 {
	border-width: 2px;
	border-color: #CCCCCC #333333 #333333 #CCCCCC;
  border-style: dotted;
	}

.promo {
	font-family: "Times New Roman", Times, serif;
	color: #000033;
}

.titlebar {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #FFFFFF;
	background-color: #336699;
}

.dingbat {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #CCCC99;
 color: #660000; font-weight: bolder; font-size: medium;
}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

hr.thin {
	height: 1px;
	border: 0;
	width: 100%;
	clear: both;
	margin-bottom: 5px;
	padding: 0;
	line-height: 1px;
}

.frequired { 
	color: #FF9900; 
}

.tembus {
	background-color: transparent;
}

.gede {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	color: #005500;
	font-weight: bold;
}

.rada_gede {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #003333;
	font-weight: bold;
}

.tanpa_bullet {
list-style-type: none;
padding: 0;
margin: 0;
}

.even { 
background-color:#ebebeb; 
}

.tbhead { 
text-align: center; 
font-weight:bold; 
background-color:#009DAF; 
color:#FFF; 
}

.mepet {
float: right; 
}

td.kepalatabel {
	background-color: #CCFFCC;
}

td.chosen {
	background-color: #FFCCCC;
}

td.unchosen {
	background-color: white;
}