a:hover {
    text-decoration: none;
    background-color: #F2B968;
}

.kecil {
    font-size: 9px
}

.sedang_kecil {
    font-size: 10px
}

.sedang {
    font-size: 11px
}

.sedang_besar {
    font-size: 12px
}

.style4 {
    font-size: 10px
}

.style5 {
    font-size: 11px
}

.style6 {
    font-size: 12px
}

.style7 {
    font-size: 12px
}

option.MenuSatu {
    color: #FF0000;
}

.textMerah {
    color: #FF0000;
}

table.table-bordered.dataTable tbody td {
    font-size: 9pt;
    
}

table.table-bordered.dataTable tbody td.td-wide {
    font-size: 9pt;
    
}

th {
    text-align: center;
}